<div *ngIf="showCart">
    <div classs="container">
        <div class="row">
            <div class="table-responsive m-5">
                <table class="table table-striped ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th> Item Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of  cartItems">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td> {{item.price}}</td>
                            <td><button type="button"><i class='material-icons' (click)="deleteCartItem(item.id)">
                                        delete</i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<a routerLink="/bill-view" class="btn btn-danger"  >Proceed Checkout</a> -->
            <button type="button" routerLink="/bill-view" class="btn btn-danger float-right">Proceed Checkout</button>
        </div>
    </div>
</div>
<div *ngIf="!showCart">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <span class="display-4 text-danger">Cart is Empty :( :(</span>
        </div>
    </div>
</div>